<h2>Add new event</h2>
<%= link_to('View Profile', root_path + 'event/5' ) %>

<!-- search  -->
<p>
<%= form_tag event_search_friend_path, :method => :get, :remote => true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<div id="results">
  <%= if (@results != nil) 
        render :partial => 'add_search' , :collection => @results
      end %>
</div>
</p>

<%= form_for :event ,url: {action: "create"} do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :description %><br>
  <%= f.text_area :description %>
</p>


  <%= f.label :participants %><br/>
  <% #@event.participates.each do |participate|%>
</p>
  
<table id="tbl_participants">
<tr>
	<td>Person</td>
	<td>Amount</td>
	<td>Portion</td>
</tr>

<%= render :partial => 'participate' , :collection => @event.participates %>
</table>

<p>
  <%= f.submit %>
</p>
<% end %>