<h2>Add new event</h2>
<%= link_to 'Home', root_path, :class => "btn btn-default btn-sm"%>

<!-- search  -->
<h4>Add Participants</h4>
<%= form_tag event_search_friend_path, :method => :get, :remote => true do %>
<p>
  <%= text_field_tag :search, params[:search] %>
  <%= hidden_field_tag 'participant_ids', @user.id  %>
  <%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<div id="results">
  <%= if (@results != nil) 
    render :partial => 'add_search' , :collection => @results, as: :user
    end %>
  </div>


  <%= form_for :event ,url: {action: "create"} do |f| %>
  <p>
    <%= f.label :name %><br>   
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <%= f.label :participants %><br>
  <table id="tbl_participants" >
    <tr>
     <td>Person</td>
     <td>Amount</td>
     <td>Portion</td>
   </tr>

   <%= render :partial => 'participate' , :collection => @event.participates %>
 </table>

 <br/>
 <%= f.submit :class => "btn btn-primary" %>

 <% end %>