<h2>View profile</h2>

<% if user_signed_in? %>
<div>Signed in as... <%= @user.email %></div>
<% end %>


<% if(@notifications != nil && @notifications.length > 0) %>
<h2>Notifications</h2>
<%= render :partial => 'notification' , :collection => @notifications %>
<% end %>

<%= render :partial => '/event/event_sections' %> 
<br/>



<%= link_to('Manage Friends', profile_all_path)  %>  
<br/>
<%= link_to('Add Event', new_event_path)  %>  

<% if user_signed_in? %>
<li>
	<%= link_to('Sign out', destroy_user_session_path, :method => :get) %>        
</li>
<% end %>
